<div class="card-trip">
  <div class="card">
  <%= cl_image_tag @product.photo.key %>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
    </div>
    <h2 class="card-trip-pricing">£<%= number_to_currency(@product.price) %></h2>
    <%= cl_image_tag current_user.photo.key, class: "card-trip-user avatar-bordered" if current_user.photo.key? %>
  </div>
</div>
