<div class="card-trip">
  <div class="card">
  <%= cl_image_tag @product.photo.key %>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
    </div>
    <%= cl_image_tag current_user.photo.key, class: "card-trip-user avatar-bordered" if current_user.photo.key? %>
    Vendedor: <%= current_user.email %>
    <h2 class="card-trip-pricing">Price: <%= number_to_currency(@product.price) %></h2>
    <%= link_to "Editar", edit_product_path(@product), class: "btn btn-outline-primary" %>


  </div>

</div>
